{% extends "index.twig" %}

{% block main %}
  <h2>About me</h2>

  <p>I'm <b>Danae Dekker</b>, born in 1995 in Kerkrade and currently living in Hilversum.</p>
  <p>I am fascinated by musical storytelling, game audio, generative music and integration of music and technology. Since late 2016 I'm attending the Music and Technology study at the <a target="_blank" href="https://www.hku.nl/Home.htm">HKU University of the Arts Utrecht</a>, where I specialize in sonic interaction design (SID) and creative system design (CSD).</p>
  <p>In my younger years I already started playing with music and technology. In 2001 I became a member of the <a target="_blank" href="http://www.kerkraadsfanfareorkest.nl/">brass band of Kerkrade</a>, where I played the flugelhorn for about twelve years. During my musical education I learnt how music was written down and how to do it myself using notation software and when I was 8 years old I composed my <a target="_blank" href="{{ assets }}/music/first.mp3">first musical piece</a>.</p>
  <p>Years passed and my interests shifted from orchestral music towards electronic music. I made my first electronic track using FL Studio in 2011, but as years came by I developed a musical style which I can call my own.</p>

  <p>For more details on my work experience and education please refer to my <a target="_blank" href="{{ assets }}/Dennis_Dekker_CV_2018.pdf">résumé</a>, or for any questions or remarks about me, my compositions or projects you can always <a href="{{ root }}/{{ pages.contact.name }}">contact me</a>!</p>

  <div class="card">
    <img class="card-img" src="{{ assets }}/images/about.png">
  </div>
{% endblock %}
