<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119873369-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119873369-1');
      </script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="I am Dennis Dekker, a composer and creative system designer based in Utrecht. I specialize in musical storytelling in an often fantastical and magical setting, which I apply in autonomous compositions, games and interactive media.">
      <meta name="keywords" content="dennis, dekker, composer, creative system designer, music, storytelling, fantasy, magic, ambient, orchestral, electronic, games, interactive, media">

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{{ assets }}/css/styles.css">

      <link rel="shortcut icon"  type="image/x-icon" href="{{ assets }}/images/favicon.ico">
      <link rel="icon" type="image/png" href="{{ assets }}/images/16px-logo.png" sizes="16x16">
      <link rel="icon" type="image/png" href="{{ assets }}/images/32px-logo.png" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ assets }}/images/96px-logo.png" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ assets }}/images/160px-logo.png" sizes="160x160">
      <link rel="icon" type="image/png" href="{{ assets }}/images/196px-logo.png" sizes="196x196">

      <title>{{ page.title }} / Danae Dekker</title>
    {% endblock %}
  </head>

  <body>
    <div class="inner">
      <nav class="container">
        {% block nav %}
          <img src="{{ assets }}/images/logo.svg" width="80" height="80">
          {% for p in pages %}
            <a {{ p == page ? 'class="active"' : '' }} href="{{ document_root }}/{{ p.path }}">{{ p.title }}</a>
          {% endfor %}
        {% endblock %}
      </nav>

      <main class="container">
        {% block main %}
        {% endblock %}
      </main>

      <footer class="container">
        {% block footer %}
          <p>Copyright &copy; Danae Dekker, 2017-2019</p>
          <p>
            <a class="icon" href="{{ links.linkedin }}">
              <i class="fab fa-linkedin-in fa-3x" data-fa-transform="shrink-6 down-0.5" data-fa-mask="fas fa-circle"></i>
            </a>
            &nbsp;
            <a class="icon" href="{{ links.facebook }}">
              <i class="fab fa-facebook-f fa-3x" data-fa-transform="shrink-3.5 down-1.6 right-1.25" data-fa-mask="fas fa-circle"></i>
            </a>
            &nbsp;
            <a class="icon" href="{{ links.spotify }}">
              <i class="fab fa-spotify fa-3x"></i>
            </a>
            &nbsp;
            <a class="icon" href="{{ links.github }}">
              <i class="fab fa-github fa-3x"></i>
            </a>
          </p>
        {% endblock %}
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ assets }}/js/index.js"></script>
    <script src="{{ assets }}/js/contactform.js"></script>
  </body>
</html>
