<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    {% block head %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119873369-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-119873369-1');
      </script>

      <!-- Meta-tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="I am Danae Dekker, a composer and and technical audio designer for games and interactive media. I specialize in musical storytelling in an often fantastical and magical setting, which I apply in autonomous compositions, games and interactive media.">
      <meta name="keywords" content="danae, dekker, composer, technical audio design, audio design, games, interactive, media, music, storytelling, fantasy, magic, ambient, orchestral, electronic">

      <!-- OpenGraph tags -->
      <meta property="og:title" content="Danae Dekker">
      <meta property="og:type" content="website">
      <meta property="og:image" content="{{ assets }}/images/600px_logo.png">
      <meta property="og:image:type" content="image/png">
      <meta property="og:image:width" content="600">
      <meta property="og:image:height" content="600">
      <meta property="og:url" content="https://danaedekker.com/">
      <meta property="og:description" content="I specialize in musical storytelling in an often fantastical and magical setting, which I apply in autonomous compositions, games and interactive media.">
      <meta property="og:locale" content="en_US">
      <meta property="og:site_name" content="Danae Dekker, composer and technical audio designer">

      <!-- Stylesheet -->
      <link rel="stylesheet" href="{{ assets }}/css/styles.css">

      <!-- Shortcut icon -->
      <link rel="shortcut icon"  type="image/x-icon" href="{{ assets }}/images/favicon.ico">
      <link rel="icon" type="image/png" href="{{ assets }}/images/16px-logo.png" sizes="16x16">
      <link rel="icon" type="image/png" href="{{ assets }}/images/32px-logo.png" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ assets }}/images/96px-logo.png" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ assets }}/images/160px-logo.png" sizes="160x160">
      <link rel="icon" type="image/png" href="{{ assets }}/images/196px-logo.png" sizes="196x196">

      <!-- Title -->
      <title>{{ page.title }} / Danae Dekker</title>
    {% endblock %}
  </head>

  <body>
    <!-- Black bar -->
    <div class="bar"></div>

    <!-- Content -->
    <div class="inner">
      <div class="container">
        {% block nav %}
          <!-- Navbar -->
          <nav class="navbar is-transparent">
            <div class="navbar-brand">
              <img class="navbar-item navbar-logo" src="{{ assets }}/images/logo.svg" width="80" height="80">

              <a role="button" class="navbar-burger burger" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>

            <div class="navbar-menu is-shadowless">
              <div class="navbar-start">
                {% for p in pages %}
                  <div class="navbar-item">
                    {% if page.path starts with p.path %}
                      <a class="active" href="{{ base_path_for(p) }}">{{ p.title }}</a>
                    {% else %}
                      <a href="{{ base_path_for(p) }}">{{ p.title }}</a>
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </nav>
        {% endblock %}

        <!-- Main content -->
        <main class="main">
          {% block main %}
          {% endblock %}
        </main>

        {% block footer %}
          <!-- Footer -->
          <footer class="footer">
            <div class="level">
              <div class="level-left">
                <div class="level-item">
                  <p class="has-text-left-tablet">
                    Copyright &copy; Danae Dekker, 2017-2020<br>
                    Created using <a href="https://bulma.io/" target="_blank">Bulma</a> and <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>
                  </p>
                </div>
              </div>

              <div class="level-right">
                <div class="level-item">
                  <a class="icon" href="{{ links.linkedin }}">
                    <i class="fab fa-linkedin-in fa-3x" data-fa-transform="shrink-6 down-0.5" data-fa-mask="fas fa-circle"></i>
                  </a>
                  <a class="icon" href="{{ links.facebook }}">
                    <i class="fab fa-facebook-f fa-3x" data-fa-transform="shrink-3.5 down-1.6 right-1.25" data-fa-mask="fas fa-circle"></i>
                  </a>
                  <a class="icon" href="{{ links.spotify }}">
                    <i class="fab fa-spotify fa-3x"></i>
                  </a>
                  <a class="icon" href="{{ links.github }}">
                    <i class="fab fa-github fa-3x"></i>
                  </a>
                  <a class="icon" href="{{ links.soundcloud }}">
                    <i class="fab fa-soundcloud fa-3x" data-fa-transform="shrink-7" data-fa-mask="fas fa-circle"></i>
                  </a>
                </div>
              </div>
            </div>
          </footer>
        {% endblock %}
      </div>
    </div>

    <!-- Black bar -->
    <div class="bar"></div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.9.0/js/all.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ assets }}/js/index.js"></script>
    <script src="{{ assets }}/js/contactform.js"></script>
  </body>
</html>
