{% extends "index.twig" %}

{% block main %}
  <h2>Projects</h2>
  <p>Over the past few years I've been working on several projects regarding composition, game audio and creative software.</p>
  <p>You can find most of my software projects on <a href="{{ links.github }}">GitHub</a>.

  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-0">Room of Doom</h3>
      <p class="text-muted">June 2018</p>
      
      <p>I worked as composer and game audio designer on the game <i>Room of Doom</i>, a two-player co-op party platformer featuring epic boss battles.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/room-of-doom',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-0">Our Little Planet</h3>
      <p class="text-muted">March 2018</p>

      <p>I worked as composer and game audio designer on the applied game <a target="_blank" href="{{ projects.our_little_planet }}"><i>Our Little Planet</i></a>, a choice-driven game about sustainability.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/our-little-planet',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>

  <div class="card">
    <div class="card-body"> 
      <h3 class="card-title mb-0">Blue Moon</h3>
      <p class="text-muted">January 2018</p>

      <p>In January I released my EP <i>Blue Moon</i>, a collection of four tracks that tell a story about the difference between fantasy and reality. The EP is avaliable on <a target="_blank" href="{{ projects.blue_moon.spotify }}">Spotify</a>, <a target="_blank" href="{{ projects.blue_moon.deezer }}">Deezer</a> and <a target="_blank" href="{{ projects.blue_moon.soundcloud }}">SoundCloud</a>.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/sets/blue-moon',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false, 'visual': false}).html }}
    </div>
  </div>
{% endblock %}