{% extends "index.twig" %}

{% block main %}
  <h2>Projects</h2>
  <p>Over the past few years I've been working on several projects regarding composition, game audio and creative software.</p>
  <p>You can find most of my software projects on <a href="{{ links.github }}">GitHub</a>.

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.colors_of_the_night.image }}" alt="Colors Of The Night">
    <div class="content m-3">
      <h4 class="mb-0">
        <span class="mr-1">Colors Of The Night</span>
        <a class="icon" href="{{ projects.colors_of_the_night.spotify }}" data-toggle="tooltip" title="Listen on Spotify">
          <i class="fab fa-spotify"></i>
        </a>
        <!--<a class="icon" href="{{ projects.colors_of_the_night.napster }}" data-toggle="tooltip" title="Listen on Napster">
          <i class="fab fa-napster"></i>
        </a>-->
        <a class="icon" href="{{ projects.colors_of_the_night.google }}" data-toggle="tooltip" title="Listen on Google Play Music">
          <i class="fab fa-google-play" data-fa-transform="shrink-2"></i>
        </a>
        <a class="icon" href="{{ projects.colors_of_the_night.soundcloud }}" data-toggle="tooltip" title="Listen on SoundCloud">
          <i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i>
        </a>
      </h4>
      <p class="text-muted">2019 &middot; Composition &middot; Production</p>

      <p><i>Colors Of The Night</i> is my second EP and features four nighttime stories told in beautiful music. The EP released on major streaming platforms in July 2019.</p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.exodus_burned.image }}" alt="Exodus Burned">
    <div class="content m-3">
      <h4 class="mb-0">
        <span class="mr-1">Exodus Burned</span>
        <a class="icon" href="{{ projects.exodus_burned.link }}" data-toggle="tooltip" title="Visit website">
          <i class="fas fa-link"></i>
        </a>
      </h4>
      <p class="text-muted">2018&ndash;2019 &middot; Game Audio &middot; Implementation</p>

      <p>In 2018 and 2019 I did a technical audio design internship at <i>Pillow's Willow VR Studios</i>. During my internship I worked on sound effects, voice overs and audio flow and implementation for <i>Exodus Burned</i>, a multiplayer VR experience where playeres use their whole body as a controller to complete challenges. All integration work was done in Unity and C#.</p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.paper.image }}" alt="Paper">
    <div class="content m-3">
      <h4 class="mb-0">
        <span class="mr-1">Paper: Audio integration in Unity</span>
        <a class="icon" href="{{ projects.paper.link }}" data-toggle="tooltip" title="Download PDF">
          <i class="far fa-file-pdf"></i>
        </a>
      </h4>
      <p class="text-muted">2019 &middot; Paper</p>

      <p>In 2019 I wrote a paper (in Dutch) about the implementation of audio in Unity and C# without using middleware.<p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.stackgriculture.image }}" alt="Stackgriculture">
    <div class="content m-3">
      <h4 class="mb-0">Stackgriculture</h4>
      <p class="text-muted">2018 &middot; Game Audio &middot; Music &middot; Implementation</p>

      <div style="width:100%; height:0px; position:relative; padding-bottom:56.250%; margin-bottom: 1em;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/-oW1YXWpbKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe>
      </div>
      <p>In 2019 I was a team member of the game studio <i>Plantzant</i>, where I worked on the audio and its implementation for the applied game <i>Stackgriculture</i>. This was a school project and my first bigger project using FMOD as middleware with integration in Unity.</p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.room_of_doom.image }}" alt="Room Of Doom">
    <div class="content m-3">
      <h4 class="mb-0">Room Of Doom</h4>
      <p class="text-muted">2018 &middot; Game Audio &middot; Music &middot; Implementation</p>

      <div style="width:100%; height:0px; position:relative; padding-bottom:56.250%; margin-bottom: 1em;">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2XK3Vkecf1A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width:100%; height:100%; position:absolute; left:0px; top:0px; overflow:hidden;"></iframe>
      </div>
      <p>In the team <i>Fun Bun Studios</i> I worked as composer and game audio designer on the school project <i>Room Of Doom</i>, a two-player co-op party platformer featuring epic boss battles. The music integration was done in FMOD.</p>
      <p>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.our_little_planet.image }}" alt="Our Little Planet">
    <div class="content m-3">
      <h4 class="mb-0">Our Little Planet</h4>
      <p class="text-muted">2018 &middot; Game Audio &middot; Music</p>

      <p>I worked as composer and game audio designer on the applied game <i>Our Little Planet</i>, a choice-driven game about sustainability.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/our-little-planet',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-start mb-3 border rounded">
    <img class="artwork rounded m-3" src="{{ projects.blue_moon.image }}" alt="Blue Moon">
    <div class="content m-3">
      <h4 class="mb-0">
        <span class="mr-1">Blue Moon</span>
        <a class="icon" href="{{ projects.blue_moon.spotify }}" data-toggle="tooltip" title="Listen on Spotify">
          <i class="fab fa-spotify"></i>
        </a>
        <a class="icon" href="{{ projects.blue_moon.napster }}" data-toggle="tooltip" title="Listen on Napster">
          <i class="fab fa-napster"></i>
        </a>
        <a class="icon" href="{{ projects.blue_moon.google }}" data-toggle="tooltip" title="Listen on Google Play Music">
          <i class="fab fa-google-play" data-fa-transform="shrink-2"></i>
        </a>
        <a class="icon" href="{{ projects.blue_moon.soundcloud }}" data-toggle="tooltip" title="Listen on SoundCloud">
          <i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i>
        </a>
      </h4>
      <p class="text-muted">2018 &middot; Composition &middot; Production</p>

      <p><i>Blue Moon</i> is a collection of four tracks that tell a story about the difference between fantasy and reality. The EP released on major streaming platforms in March 2018.</p>
    </div>
  </div>
{% endblock %}
