{% extends "index.twig" %}

{% block main %}
  <section class="section">
    <div class="content">
      <h2>Previous work</h2>

      <p>Below you can find projects I've been working on regarding composition and technical audio design. You can click on the thumbnails to read, see and hear more about them!</p>
    </div>

    <div class="tabs" data-tag-tabs>
      <ul>
        <li class="is-active"><a data-tag="*">All</a></li>
        <li><a data-tag="games">Games</a></li>
        <li><a data-tag="media">Media</a></li>
        <li><a data-tag="original">Original</a></li>
      </ul>
    </div>

    <div class="grid">
      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.warden_of_the_woods.square }}" alt="Feyrune">
          </figure>

          <p class="has-text-centered mb-0">Warden of the Woods</p>
          <p class="has-text-centered is-size-8 mb-0">Game Jam Game &middot; 2023</p>

          <a class="is-overlay" href="javascript:;" data-project="warden_of_the_woods"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.rayman_2_hd.square }}" alt="Rayman 2 HD">
          </figure>

          <p class="has-text-centered mb-0">Rayman 2 HD</p>
          <p class="has-text-centered is-size-8 mb-0">Platformer &middot; t.b.a.</p>

          <a class="is-overlay" href="javascript:;" data-project="rayman_2_hd"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.feyrune.square }}" alt="Feyrune">
          </figure>

          <p class="has-text-centered mb-0">Feyrune</p>
          <p class="has-text-centered is-size-8 mb-0">Adventure Game &middot; 2022</p>

          <a class="is-overlay" href="javascript:;" data-project="feyrune"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.sakura_shrine.square }}" alt="Sakura Shrine">
          </figure>

          <p class="has-text-centered mb-0">Sakura Shrine</p>
          <p class="has-text-centered is-size-8 mb-0">Game Jam Game &middot; 2022</p>

          <a class="is-overlay" href="javascript:;" data-project="sakura_shrine"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.cathens.square }}" alt="Cathens">
          </figure>

          <p class="has-text-centered mb-0">Cathens</p>
          <p class="has-text-centered is-size-8 mb-0">Game Jam Game &middot; 2022</p>

          <a class="is-overlay" href="javascript:;" data-project="cathens"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="original">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.starcrossed.square }}" alt="Starcrossed">
          </figure>

          <p class="has-text-centered mb-0">Starcrossed</p>
          <p class="has-text-centered is-size-8 mb-0">Original EP &middot; 2021</p>

          <a class="is-overlay" href="javascript:;" data-project="starcrossed"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.ignis_universia.square }}" alt="Ignis Universia 2">
          </figure>

          <p class="has-text-centered mb-0">Ignis Universia 2</p>
          <p class="has-text-centered is-size-8 mb-0">JRPG &middot; Visual Novel &middot; 2021</p>

          <a class="is-overlay" href="javascript:;" data-project="ignis_universia"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.invisible_wings.square }}" alt="Invisible Wings">
          </figure>

          <p class="has-text-centered mb-0">Invisible Wings: Chapter One</p>
          <p class="has-text-centered is-size-8 mb-0">Visual Novel &middot; 2021</p>

          <a class="is-overlay" href="javascript:;" data-project="invisible_wings"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.fairy_lost.square }}" alt="Fairy Lost">
          </figure>

          <p class="has-text-centered mb-0">Fairy Lost</p>
          <p class="has-text-centered is-size-8 mb-0">Game Jam Game &middot; 2021</p>

          <a class="is-overlay" href="javascript:;" data-project="fairy_lost"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.hope_remember.square }}" alt="Hope/Remember">
          </figure>

          <p class="has-text-centered mb-0">Hope/Remember</p>
          <p class="has-text-centered is-size-8 mb-0">Game Jam Game &middot; 2020</p>

          <a class="is-overlay" href="javascript:;" data-project="hope_remember"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="games, media">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.exodus_burned.square }}" alt="Exodus Burned">
          </figure>

          <p class="has-text-centered mb-0">Exodus Burned</p>
          <p class="has-text-centered is-size-8 mb-0">VR Experience &middot; 2019</p>

          <a class="is-overlay" href="javascript:;" data-project="exodus_burned"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="original">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.colors_of_the_night.square }}" alt="Colors Of The Night">
          </figure>

          <p class="has-text-centered mb-0">Colors Of The Night</p>
          <p class="has-text-centered is-size-8 mb-0">Original EP &middot; 2019</p>

          <a class="is-overlay" href="javascript:;" data-project="colors_of_the_night"></a>
        </div>
      </div>

      <div class="grid-item" data-tag-collapse="original">
        <div class="grid-box">
          <figure class="image is-square mb-2">
            <img src="{{ work.blue_moon.square }}" alt="Blue Moon">
          </figure>

          <p class="has-text-centered mb-0">Blue Moon</p>
          <p class="has-text-centered is-size-8 mb-0">Original EP &middot; 2018</p>

          <a class="is-overlay" href="javascript:;" data-project="blue_moon"></a>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="warden_of_the_woods">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ work.warden_of_the_woods.image }}" alt="Starcrossed">
            </figure>
          </div>

          <div class="card-content">
            <h3>Warden of the Woods</h3>

            <p><i>Warden of the Woods</i> is a small adventure game. You’re the newly appointed guardian of the Fairy Forest! It’s the easiest job in the world! Absolutely nothing can go wrong! Or so they say... This game was made for Ludum Dare 52 together with Arto Koistinen, Esther Bos, Frank Rombouts and Luna van Egdom.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.warden_of_the_woods.itch }}">
                <span class="icon is-small"><i class="fas fa-gamepad"></i></span>
                <span>Play game</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.warden_of_the_woods.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="rayman_2_hd">
        <div class="card inverted">
          <div class="card-image">
          <figure class="image is-16by9">
            <iframe class="has-ratio" src="{{ work.rayman_2_hd.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </figure>
          </div>

          <div class="card-content">
            <h3>Rayman 2 HD</h3>

            <p><i>Rayman 2 HD</i> is a modern remake of the classic 3D platformer from Ubisoft, made by passionate developers and hard working fans. I'm working on composing and producing music, as well as the voice direction, and I revised the Dutch translation of the game.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.rayman_2_hd.website }}">
                <span class="icon is-small"><i class="fas fa-link"></i></span>
                <span>Visit website</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="feyrune">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.feyrune.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Feyrune</h3>

            <p><i>Feyrune</i> is an enchanting take on modern pixel art, made by Luna van Egdom as het graduation project. I helped realizing her vision by making a whimsical and feylike soundtrack and sound effects for the game.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.feyrune.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.feyrune.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="sakura_shrine">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.sakura_shrine.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Sakura Shrine</h3>

            <p><i>Sakura Shrine</i> is a narrative tower defence-like game about a priestess protecting the sacred sakura tree from demons. This game was made for Ludum Dare 50 together with Arto Koistinen and Luna van Egdom, where I was responsible for the audio and helped developing the concept. Out of almost 2000 jam entries, the game was awarded 50th place in art and 32nd place in audio.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.sakura_shrine.itch }}">
                <span class="icon is-small"><i class="fas fa-gamepad"></i></span>
                <span>Play game</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.sakura_shrine.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.sakura_shrine.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="cathens">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.cathens.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Cathens</h3>

            <p><i>Cathens</i> is a game about discovering the duality between being either a chonky buff cat or a agile mage cat in the streets of ancient Greece. I worked on this small game for the Global Game Jam 2022, together with Luna van Egdom, Kian Kreikamp, Daphne Zwarts and Maiko Steeman.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.cathens.itch }}">
                <span class="icon is-small"><i class="fas fa-gamepad"></i></span>
                <span>Play game</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.cathens.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.cathens.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="starcrossed">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ work.starcrossed.image }}" alt="Starcrossed">
            </figure>
          </div>

          <div class="card-content">
            <h3>Starcrossed</h3>

            <p><i>Starcrossed</i> is my third EP and contains five musical stories about journeys to faraway lands. This EP released on major streaming platforms in December 2021.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.starcrossed.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.starcrossed.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="ignis_universia">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.ignis_universia.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Ignis Universia: Awakening of the Erudite Empress</h3>

            <p><i>Ignis Universia</i> is a world full of wonder, magic, random encounters, and suspiciously handily placed equipment, imperiled by a rising darkness far, well, darker, than Galgatax and her undead unicorns. Join the Chosen Sisters and their story of friendship, and occasional unnecessary violence, in a visual novel mixed with JRPG elements, that not as much steers away from tropes but hits them with the door on the way past.</p>
            <p>Together with the developers at Random Potion I worked on the music, sound effects and audio implementation for the demo of the game, that is available to play now!</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.ignis_universia.website }}">
                <span class="icon is-small"><i class="fas fa-link"></i></span>
                <span>Visit website</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.ignis_universia.steam }}">
                <span class="icon is-small"><i class="fab fa-steam"></i></span>
                <span>Steam</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.ignis_universia.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="invisible_wings">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.invisible_wings.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Invisible Wings: Chapter One</h3>

            <p><i>Invisible Wings: Chapter One</i> is an interactive visual novel which takes place in a modern fantasy world, characterized by constant tensions between humans, faeries and their hybrid chlidren. The story follows Dawn, a young hybrid, and her first steps into loving and accepting who she is in a modern world where faeries and humans were supposed to live in harmony.</p>
            <p>Aside from my work as composer and technical audio designer, I have set up this game from scratch on my own, as the result of my dream of creating a narrative fantasy game. Furthermore I took the lead in the conceptualizing and developing the game, collaborating with a screenwriter, an illustrator and voice actors in the process.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.invisible_wings.website }}">
                <span class="icon is-small"><i class="fas fa-link"></i></span>
                <span>Visit website</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.invisible_wings.steam }}">
                <span class="icon is-small"><i class="fab fa-steam"></i></span>
                <span>Steam</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.invisible_wings.itch }}">
                <span class="icon is-small"><i class="fab fa-itch-io"></i></span>
                <span>Itch.io</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.invisible_wings.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="fairy_lost">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.fairy_lost.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Fairy Lost</h3>

            <p><i>Fairy Lost</i> is a game about exploring a mysterious magical forest as a lost fairy on her way back home. Play as Yuvi, a fairy who got lost deep in this magical forest. Meet interesting fantasy creatures and help them find what they lost and explore a handcrafted fantasy forest that combines pixel art with 3D.</p>
            <p>I worked on <i>Fairy Lost</i> for the Global Game Jam 2021, together with Luna van Egdom, Kian Kreikamp, Daphne Zwarts and Maiko Steeman. The game was made in 48 hours and won 2nd place overall and 1st place in the art category of all Dutch entries. I worked on the music and audio design for this game, which was awarded the 2nd place in its category as well.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.fairy_lost.itch }}">
                <span class="icon is-small"><i class="fas fa-gamepad"></i></span>
                <span>Play game</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.fairy_lost.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.fairy_lost.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="hope_remember">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ work.hope_remember.image }}" alt="Hope/Remember">
            </figure>
          </div>

          <div class="card-content">
            <h3>Hope/Remember</h3>

            <p>Together with Arto Koistinen I worked on <i>Hope/Remember</i> for the 47th Ludum Dare game jam in October 2020. This game is a narrative game reminiscent of okd school top down RPGs, which a story centered around a time loop in the week of Halloween. I created the audio and music for the game, as well as helped brainstorming and conceptualizing the idea and narrative.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.hope_remember.itch }}">
                <span class="icon is-small"><i class="fas fa-gamepad"></i></span>
                <span>Play game</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.hope_remember.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="colors_of_the_night">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ work.colors_of_the_night.image }}" alt="Colors Of The Night">
            </figure>
          </div>

          <div class="card-content">
            <h3>Colors Of The Night</h3>

            <p><i>Colors Of The Night</i> is my second EP that released in July 2019. It features four nighttime stories told in beautiful music.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.colors_of_the_night.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.colors_of_the_night.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="exodus_burned">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <iframe class="has-ratio" src="{{ work.exodus_burned.embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </figure>
          </div>

          <div class="card-content">
            <h3>Exodus Burned</h3>

            <p>In 2018 and 2019 I did a technical audio design internship at <i>Pillow's Willow VR Studios</i>. During this internship I worked on sound effects, voice overs and audio flow and implementation for <i>Exodus Burned</i>, a multiplayer VR experience, where players use their whole body as a controller to complete challenges. All audio integration work was done in Unity and C#.</p>
            <p>In 2020 I composed the music for their intro cinematic as well, for which I took inspiration from the epic orchestral music of <i>Two Steps From Hell</i>.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.exodus_burned.link }}">
                <span class="icon is-small"><i class="fas fa-link"></i></span>
                <span>Visit website</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="grid-modal is-hidden" data-project-collapse="blue_moon">
        <div class="card inverted">
          <div class="card-image">
            <figure class="image is-16by9">
              <img src="{{ work.blue_moon.image }}" alt="Blue Moon">
            </figure>
          </div>

          <div class="card-content">
            <h3>Blue Moon</h3>

            <p><i>Blue Moon</i> is a collection of four tracks that tell a story about the difference between fantasy and reality. This EP released on major streaming platforms in March 2018.</p>

            <div class="buttons">
              <a class="button is-link is-inverted is-rounded" href="{{ work.blue_moon.bandcamp }}">
                <span class="icon is-small"><i class="fab fa-bandcamp"></i></span>
                <span>Bandcamp</span>
              </a>
              <a class="button is-link is-inverted is-rounded" href="{{ work.blue_moon.soundcloud }}">
                <span class="icon is-small"><i class="fab fa-soundcloud" data-fa-transform="shrink-7" data-fa-mask="fas fa-square"></i></span>
                <span>SoundCloud</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
